body {
  background-image: url('background1.jpg');
}

.axis {
  font: 10px sans-serif;
}

.graph {
  border: 1px solid blue;
  width: 65%;
  min-height: 500px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: lightsteelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  r: 2px;
  fill: none;
  stroke: steelblue;
  stroke: 1.5px;
}

.dot:hover {
  r: 5px;
  fill: black;
}

.logo {
  margin-top: 1px;
  margin-left: 5px;
  height: 45px;
}

.navbar-btn {
  position: relative; 
  right: 65px;
  margin-top: 13px;
  /*margin-right: 9px;*/
}

.profPic {
  position: relative;
  margin-top: 5px;
  /*margin-right: 20px;*/
  right: 92px;
  height: 35px;
}

.searchbar {
  top: 9px;
}

.searchBarDrop {
  top: 9px;
}

#controllabel {
  position:absolute;
  top:70px;
}

.navbar {
  border-radius: 0 !important;
}